build/
release/
scripts/
artifacts/
.dotnet
TestResults/
*.suo
*.user
bin
Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
AppPackages/
*.bak
packages
*.orig
*.DotSettings
*.ide/
.nuget
project.lock.json
.vs

# JetBrains Rider
.idea/
*.sln.iml

# Read the Docs
docs/_build
/src/LastMajorVersionBinary
*.diagsession
