<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <runtime>
    <!-- Don't kill application on first uncaught exception. -->
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  <startup>
    <supportedRuntime version="v2.0.50727" />
    <supportedRuntime version="v1.1.4322"/>  
  </startup>
  <appSettings>
    <add key="restorePreviousState" value="true" />
  </appSettings>
</configuration>