<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatLight.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>

        <!-- NOTE: the ConsoleColor{Name} settings are from the System.ConsoleColor enum (you can change these to any value in there)-->
        <StatLight.Core.Properties.Settings>
            <setting name="ConsoleColorError" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ConsoleColorInformation" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ConsoleColorDebug" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="ConsoleColorWarning" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ConsoleColorSuccess" serializeAs="String">
                <value>Green</value>
            </setting>

            <!--
                Windowless value will be used to set the silverlight object tag in the test page html. EX if the 
                windowless property is 'false' then it will output <param name="windowless" value="false"/> in the html
            -->
            <setting name="Windowless" serializeAs="String">
                <value>false</value>
            </setting>

        </StatLight.Core.Properties.Settings>
    </applicationSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
