<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Breeze.Client" version="1.5.4" targetFramework="net452" />
  <package id="Breeze.Server.ContextProvider" version="1.5.4" targetFramework="net452" />
  <package id="Breeze.Server.ContextProvider.EF6" version="1.5.4" targetFramework="net452" />
  <package id="Breeze.Server.WebApi2" version="1.5.4" targetFramework="net452" />
  <package id="Breeze.Sharp" version="0.6.0.5" targetFramework="net452" />
  <package id="Breeze.WebApi2.EF6" version="1.5.4" targetFramework="net452" />
  <package id="Effort.EF6" version="1.1.4" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="2.0.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="NMemory" version="1.0.1" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Q" version="0.8.12" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net452" />
  <package id="WebActivator" version="1.0.0.0" targetFramework="net452" />
</packages>